<nav class="navbar" [ngClass]="{ 'bg-dark': darkMode }">
  <h1 class="navbar-brand text-white">Herolo Weather Task</h1>
  <ul>
    <button
      (click)="onChangeTheme()"
      type="button"
      class="btn"
      [ngClass]="{ 'btn-warning': darkMode, 'btn-dark': !darkMode }"
    >
      {{ !darkMode ? "Dark Mode" : "Light Mode" }}
    </button>
    <li class="d-inline ml-3">
      <a routerLinkActive="bg-info" class="text-white btn" routerLink="/home">Home</a>
    </li>
    <li class="d-inline ml-3">
      <a routerLinkActive="bg-info" class="text-white btn" routerLink="/favorites">Favorites</a>
    </li>
  </ul>
</nav>
